body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;

  &.redirect {
    padding: 20px;
  }

  &.es2 {
    background: #000;
    text-align: center;

    .dg.main {
      .close-button {
        border: 1px solid #e3e3e3;
        border-top: 0;
      }
    }
  }
}

.link-esercizi {
  display: flex;
  flex-flow: row nowrap;
  text-align: center;

  a.esercizio {
    width: 50%;
    padding: 20px;
  }
}

input#color-input {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.help-button {
  position: fixed;
  top: 10px;
  left: 10px;

  .help-icon {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 100%;
    font-style: normal;
    padding: 5px 11px;
    font-weight: 100;
    font-size: 1.1em;
    cursor: help;
    box-sizing: border-box;
  }

  p.help-label {
    display: none;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 5px 0;
    font-size: 0.9em;
    font-weight: 100;
    line-height: 1.3em;
    border-radius: 10px;
  }

  &:hover,
  &:focus {
    p.help-label {
      display: block;
    }
  }
}
