$es-link-color: #fff;
$redirect-link-color: #333;

body {
    margin: 0;
    background: #000;
    overflow: hidden;
    text-align: center;
    font-family: sans-serif;

    .dg.main .close-button {
        border: 1px solid #e3e3e3;
        border-top: 0;
    }

    .radio-component {
        position: fixed;
        bottom: 5px;
        left: 5px;
        font-size: 0.8em;
        font-weight: 300;
        text-align: left;
        padding: 15px;
        background: rgba(255, 255, 255, 0.2);
        color: #eee;
        border-radius: 10px;

        .radio-component-title {
            margin: 0 0 10px;
            font-size: 1.15em;
            color: #ccc;
        }
    }

    .link-esercizi {
        display: flex;
        flex-flow: row nowrap;
        margin: 40px auto;
        justify-content: space-evenly;
        max-width: 1024px;
    }

    .esercizio {
        a {
            display: block;
            border: 2px solid;
            border-radius: 5px;
            padding: 10px;
            text-decoration: none;

            &:hover,
            &:focus {
                background: rgba(200, 200, 200, 0.25);

                span {
                    border-bottom: 1px solid;
                }
            }
        }
    }

    .link-home {
        position: fixed;
        top: 15px;
        left: 15px;

        .esercizio {
            a {
                color: $es-link-color;
                border-color: $es-link-color;

                &:before {
                    content: '\2190';
                    display: inline-block;
                }

                &:visited,
                &:link {
                    color: $es-link-color;
                }
            }
        }
    }

    &.redirect {
        background: none;
        padding: 20px;

        h1 {
            font-weight: 300;
        }

        .esercizio {
            width: 50%;
            max-width: 250px;
            padding: 20px;

            a {
                color: $redirect-link-color;
                border-color: $redirect-link-color;

                &:visited,
                &:link {
                    color: $redirect-link-color;
                }
            }
        }
    }
}
